* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --background-color: #3561a1;
  --display-color: #cad2db;
  --hover-color: #cad7ed;
  --footer-color: #fff;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(
    to right,
    #051937,
    #003c5e,
    #006068,
    #00814f,
    #769b24
  );
}

.main {
  margin-top: 50px;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 400px;
  background-color: var(--background-color);
  border-radius: 20px;
  border: 2px solid black;
  padding-bottom: 20px;
  overflow: hidden;
}

.container button:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.display {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
  background-color: var(--hover-color);
  width: 80%;
  height: 15vh;
  margin: 20px;
  border-radius: 10px;
  border: 2px solid black;
  padding: 0.3em;
  word-wrap: break-word;
  word-break: break-all;
}

.display .previous-operand {
  font-size: 2rem;
}

.display .current-operand {
  font-size: 2.5rem;
}

.text-btn {
  display: flex;
  width: 80%;
  margin-bottom: 10px;
  justify-content: space-between;
}

.text-btn button {
  font-size: 1.5em;
  width: 7em;
  padding: 0.5em 0;
  border-radius: 10px;
}

.numbers {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 10px;
}

.numbers button {
  font-size: 1.5em;
  width: 3.3em;
  padding: 0.5em 0;
  border-radius: 10px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: var(--footer-color);
}
